* {
  margin: 0;
  padding: 0;
  border: none;
  color: black;
  font: inherit;
  background-color: transparent;  
}

body {
  background-color: white;
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

button {
  transition: background-color 0.2s;
}

button:hover {
  transition: background-color 0.5s;
  background-color: aqua;
}

#container {
  min-width: 600px;
  max-width: 800px;
  width: 80%;
  margin: 100px auto 0 auto;
}

.registration-form {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.registration-form .form {
  width: 400px;
  min-width: 300px;
  margin: 0 5%;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
}

.registration-form .title {
  margin-top: 0.5em;
}

.registration-form .name {
  display: block;
  box-sizing: border-box;
  width: 90%;
  margin: 1.5em auto 0 auto;
  padding: 0.6em 1em;
  border: 1px solid black;
}

.registration-form .continue-button {
  display: block;
  box-sizing: border-box;
  width: 60%;
  margin: 1em auto;
  padding: 0.8em 0;
  border: 1px solid black;
  border-radius: 15px;
}

.registration-form .error {
  margin-bottom: 0.5em;
  font-size: 0.8em;
  color: red;
}

.chat-widget {
  display: flex;
}

.chat-widget .users {
  width: 25%;
  height: fit-content;
  max-height: 760px;
  margin-top: 20px;
  padding-top: 1em;
  border: 1px solid black;
  border-right-style: none;
  border-radius: 15px 0 0 15px;
  overflow: auto;
} 

.chat-widget .user {
  display: flex;
  align-items: center;
  margin-bottom: 0.6em;
}

.chat-widget .user-avatar {
  margin-left: 0.6em;
}

.chat-widget .user-name {
  margin-left: 0.8em;
}

.chat-widget .messages {
  width: 75%;
  height: 800px;
  border: 1px solid black;
}

.hidden {
  display: none;
}

.red {
  color: red;
}
